#day-1 {
    background-color: blue;
}

#day-2 {
    background-image: url('image_part_002.png');
}

#day-3 {
    background-image: url('image_part_003.png');
}

#day-4 {
    background-image: url('');
}

#day-5 {
    background-image: url('');
}

#day-6 {
    background-image: url('');
}

#day-7 {
    background-image: url('');
}

#day-8 {
    background-image: url('');
}

#day-9 {
    background-image: url('');
}

#day-10 {
    background-image: url('');
}

#day-11 {
    background-image: url('');
}

#day-12 {
    background-image: url('');
}

#day-13 {
    background-image: url('');
}

#day-14 {
    background-image: url('');
}

#day-15 {
    background-image: url('');
}

#day-16 {
    background-image: url('');
}

#day-17 {
    background-image: url('');
}

#day-18 {
    background-image: url('');
}

#day-19 {
    background-image: url('');
}

#day-20 {
    background-image: url('');
}

#day-21 {
    background-image: url('');
}

#day-22 {
    background-image: url('');
}

#day-23 {
    background-image: url('');
}

#day-24 {
    background-image: url('');
}